---
import Layout from '@layouts/Layout.astro'
import OpenGraph from '@components/OpenGraph.astro'
import Navbar from "@components/ui/Navbar.astro";
import Footer from "@components/ui/Footer.astro";
import OrganizerBadges from "@components/ui/OrganizerBadges.astro";
import venueData from '@data/venue.json'

import Hero from './_index/HeroSection.astro'
import ParallaxSection from "./_index/ParallaxSection.astro";
import VenueSection from './_index/VenueSection.astro';

const options = {
  title: 'AWS Community Day Bolivia 2025',
  description: 'Participa en AWS Community Day Bolivia 2025: charlas, talleres y labs sobre la nube AWS. Aprende con expertos y conecta con la comunidad tech.'
}
---
<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
</style>

<Layout options={options}>
  <OpenGraph
    description={options.description}
    image="/og/og.jpg"
    slot="social-media"
    title={options.title}
  />
  <Navbar />
	<main>
    <Hero />
    <ParallaxSection />
    <VenueSection
      title={venueData.title}
      address={venueData.address}
    />
    <OrganizerBadges />
    <Footer />
  </main>
</Layout>
