---
import type { ButtonVariant, FontWeight } from '@contracts'
import Button from './Button.astro'

interface Props {
  callToActionLabel: string
  callToActionUrl: string
  callToActionDescription: string
  callToActionType: 'a' | 'button',
  variant?: ButtonVariant
  descriptionWeight?: FontWeight
}

const {
  callToActionLabel,
  callToActionUrl,
  callToActionDescription,
  callToActionType,
  variant = 'outlined',
  descriptionWeight = 'normal'
} = Astro.props;
---

<section class="call-to-action-container">
  <p
    class:list={[
      'call-to-action-description',
      descriptionWeight === 'bold' && 'bold-description'
    ]}
  >
    {callToActionDescription}
  </p>

  <Button
    class="cta-btn"
    component={callToActionType}
    href={callToActionUrl}
    variant={variant}
  >
    {callToActionLabel}
  </Button>
</section>

<style>
  .call-to-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 346px;

    .cta-btn {
      text-decoration: none;
      text-align: center;
    }

    .call-to-action-description {
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      text-wrap: balance;
      margin: 0;
    }
    .bold-description {
      font-weight: 700;
    }
  }

  @media (width <= 768px) {
    .call-to-action-container {
      .cta-btn {
        width: 100%;
      }
    }
  }
</style>
